.error{
  display: block;
  font-size: 18px;
  color: red;
  order: 3;
  width: 100%;
}

.searchContainer {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer h2 {
  text-align: center;
}

.form_container {
  width: 30%;
  margin-bottom: 50px;
}

.form_container form {
  display: flex;
  flex-wrap: wrap;
}

.form_container input {
  width: 80%;
  padding: 10px 5px;
}

.form_container button {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .form_container{
    width: 100%;
  }

  .results_container {
    width: 100%;
  }
}